/* noto sans */
@import url(https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/stylesheets/NotoSansKR-Hestia.css);

/* reset css */
html,body {height: 100%; font-size:10px; }
html,body,header,footer,section,article,div,p,table,td,th,thead,tbody,tfoot,form,dl,dt,dd,ul,ol,li,img,a,span,strong,em,i,h1,h2,h3,h4,h5,h6
{
	font-family:'Noto Sans Korean',sans-serif; font-style: normal; font-weight: normal; line-height: 1em; word-wrap:break-word;word-break: keep-all; letter-spacing:0; 
	padding:0; margin: 0; border:0; background-color: transparent; text-align: left; 
	-webkit-text-size-adjust: none;
	-webkit-box-sizing: border-box; 
	box-sizing: border-box; 

}
h1,h2,h3,h4,h5,h6 {font-weight: normal;}
select,input {padding:0; margin: 0;}
img {max-width:100%;}
ul,ol,li {list-style: none;}
a,
a:hover,a:active,a:visited {color:inherit; text-decoration: none;}
caption {display: none;}
/* base */
body {
	background-color: #eceaeb;
	-webkit-background-size: cover;
	background-size: cover; 
}
/* custom */
button {border: 0 none; background-color: transparent;}
/*[class^="form-"] {
	display: inline-block;
	position: relative;
	overflow: hidden;
	vertical-align: middle;
}
[class^="form-"] input {
	-webkit-appearance: none;
	appearance: none;
}*/
/* custom : checkbox */
/*.form-checkbox input {
	width: 26px;
	height: 26px;
	margin:0 0 -2px 30px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	border: 2px solid #eee;
	background: #fff url('../images/checked.png') no-repeat 100% 100%;
	outline: 0 none;
}
.form-checkbox input:checked {
	border: 2px solid #1786d4;
	background-color: #1786d4;
	background-position: 60% -60%;
}
.form-checkbox:first-child input { margin-left: 0; }*/

/* 정렬 */
.tal { text-align: left !important; }
.tac { text-align: center !important; }
.tar { text-align: right !important; }

.range:after {content: ""; display: block; clear: both;}
.range .left {float: left;}
.range .right {float: right;}

/* icon */
[class^="ico"] {display: inline-block; overflow: hidden; text-indent: -999px;}
/* sns */
.sns-area {padding: 20px 0;text-align: center; font-size: 0;}
[class^="ico-sns-"] {width:35px; height: 35px; margin: 0 7px; background: url("../images/ico-sns.png") no-repeat 0 0;
	-webkit-background-size: 140px;
	background-size: 140px;}
.ico-sns-facebook {background-position: 0 0;}
.ico-sns-story {background-position: -35px 0;}
.ico-sns-blog {background-position: -70px 0;}
.ico-sns-cafe {background-position: -105px 0;}

.ico-share {position: absolute; bottom:0; right:0; z-index: 10;}
.ico-share:before {content: ""; position: absolute; top:50%; left:50%; display: block; width:19px; height: 20px; margin:-10px 0 0 -10px;  
	background: url("../images/ico-share.png") no-repeat 100% 0;
	-webkit-background-size: 50px;
	background-size: 50px;}
.play {position: relative;}
.play:before {content:''; display: block; position: absolute; top:50%; left:50%; width:64px; height: 64px; margin: -32px 0 0 -32px;
	background: url("../images/ico-play.png") no-repeat 0 0;
	-webkit-background-size: 64px;
	background-size: 64px;
}


.feature {display: inline-block; padding: 3px 4px; float: left; margin-right: 5px; border: 1px solid #dadada; color:#797979; font-size: 9px;}
.feature.red {color:#fb5b61;}

.badge {display: block; width:40px; height: 39px; padding-top: 12px; border: 2px solid #ed1b24; color:#ed1b24; font-weight: bold; font-size: 11px; text-align: center;
	background-color: #fff;
	border-radius:50%; 
	-webkit-border-radius:50%;
}

.label-area {position: absolute; height: 30px; }
.label-area.left {bottom: 10px; left:16px;}
.label-area.right {bottom: 0; right:0;}
.label-area .label {display: inline-block; min-width:40px; height: 100%; padding: 10px 7px 5px; float: left; font-size: 10px; text-align: center;}

.label.purple {background-color: #77246c; color:#fff;}
.label.light-purple {background-color: #8064ea; color:#fff;}
.label.green {background-color: #b0dc03; color:#000;}
.label.yellow {background-color: #ffd801; color:#000;}
.label.pink {background-color: #ff7a7b; color:#fff;}
.label.mint {background-color: #76ccc3; color:#fff;}

/*  --------
	page css 
	--------  */	
#wrap {position: relative; height: 100%; }
.ico-top {position: fixed; bottom:17px; right:10px; z-index: 100; width:42px; height: 42px;
	border: 1px solid #ff9100;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	box-shadow: 2px 2px 1px rgba(0,0,0,0.2);
	-webkit-box-shadow: 2px 2px 1px rgba(0,0,0,0.2);
	background: #fff url("../images/ico-home-basic.png") no-repeat -114px 6px;
	-webkit-background-size: 147px;
	background-size: 147px;
}

#header {position: relative; z-index: 10;}
#header header {position: relative; height: 50px; border-bottom: 1px solid #dadada; background-color: #f5f5f5; text-align: center;}
#header header [class^="ico"] {position: absolute;  top:50%; margin-top: -15px; width:30px; height: 30px;
	background: transparent url("../images/ico-home-basic.png") no-repeat 0 0;
	-webkit-background-size: 147px;
	background-size: 147px;
}
#header header a.ico-member-info {left:16px;} 
#header header a.ico-total-search {right:16px; background-position: -30px 0 ;} 
#header header h1 {width:104px; display: inline-block; margin-top: 6px;}
#header header h1 a {display: block;font-size: 0;}
#header nav.menu {overflow: hidden; background-color: #fff; 
	box-shadow:0 2px 3px rgba(0,0,0,0.13); 
	-webkit-box-shadow:0 2px 3px rgba(0,0,0,0.13);
}
#header nav.menu ul {width:574px; height: 40px;}
#header nav.menu ul li {float: left; height: 100%;}
#header nav.menu ul li a {display: block; height: 100%; padding: 12px 13px 0; font-size: 13px; color:#000; border-bottom:3px solid #fff;}
#header nav.menu ul li.on a {color:#ff8711; border-bottom:3px solid #ff8711;}

#content>.home-menu:first-child {margin-top: 10px;}

[class^="bn-area"] a {display: block; font-size: 0; }
.bn-area-top {margin-bottom: 10px; border-bottom: 1px solid #dadada;}
/*.bn-area-between a {display: block; font-size: 0;}*/

.img-slide {position: relative;}					
.img-slide ul {}					
.img-slide ul li {}					
.img-slide a {display: block;font-size: 0;}					
.slide-info {position: absolute; bottom:10px; right:7px; width:70px; height: 23px;
	padding: 4px 0 0 3px; font-size: 12px; line-height: 0;
	border-radius:12px;
	-webkit-border-radius:12px;
	background: rgba(0,0,0,0.5) url("../images/img-allview.png") no-repeat 100% 0;
	-webkit-background-size: 23px;
	background-size: 23px;
	color:#fff;
}
.slide-info * {font-size: inherit;}
.slide-info strong,.slide-info span {padding: 0 4px;}
.slide-info i {opacity: 0.5}

.home-menu {margin-bottom: 10px; border-top: 1px solid #dadada;background-color: #fff;}
.home-menu ul {height: 127px;}
.home-menu ul li {width:20%; height: 50%; float: left; border-left: 1px solid #f5f5f5; border-bottom: 1px solid #f5f5f5}
.home-menu ul li a {position: relative; display: block;width:100%; height: 100%; padding-top: 42px; text-align: center; font-size: 10px; color:#000;}
.home-menu ul li a:before {content: ""; display: block; position: absolute;  top:15px; left:50%; 
	background: url("../images/ico-menus.png") no-repeat 0 0; overflow: hidden;
	-webkit-background-size: 167px;
	background-size: 167px;
    letter-spacing: 0px;
}
.home-menu ul li:nth-child(1),
.home-menu ul li:nth-child(6) {border-left: 0 none;}
.home-menu .h-menu01 a:before {width:22px; height: 17px; margin-left: -11px; background-position:0 0 }
.home-menu .h-menu02 a:before {width:17px; height: 20px; margin-left: -8px; background-position:-39px 0 }
.home-menu .h-menu03 a:before {width:22px; height: 20px; margin-left: -11px; background-position:-73px 0 }
.home-menu .h-menu04 a:before {width:24px; height: 21px; margin-left: -12px; background-position:-109px 0 }
.home-menu .h-menu05 a:before {width:19px; height: 20px; margin-left: -8px; background-position:-148px 0 }
.home-menu .h-menu06 a:before {width:26px; height: 19px; margin-left: -14px; background-position:-3px -30px }
.home-menu .h-menu07 a:before {width:19px; height: 19px; margin-left: -8px; background-position:-42px -30px }
.home-menu .h-menu08 a:before {width:15px; height: 24px; margin-left: -8px; background-position:-80px -26px; top:11px; }
.home-menu .h-menu09 a:before {width:18px; height: 19px; margin-left: -9px; background-position:-114px -30px }
.home-menu .h-menu10 a:before {width:18px; height: 19px; margin-left: -9px; background-position:-150px -30px }

.home-menu ul li.on a {background-color:#ff8711; color:#fff; }

.list-area {margin: 10px 7px 10px 0;}
.list-area>div>ul>li {position: relative; margin-top:10px; padding-left: 7px;}

.list-area .img-area {position: relative; font-size: 0;}

.info-area {background-color:#fff ; border-width:0 1px 1px 1px; border-style:solid; border-color:#dadada;}
 .info-area>div{padding:0 16px;}
 .info-area .imp-info {padding-top:11px; padding-bottom:11px;}
 .info-area .imp-info .title {padding:0 0 12px 50px; position: relative;}
 .info-area .imp-info .title.no-badge {padding-left: 0;}
 .info-area .imp-info .title .badge {position: absolute; left:0; top:0;}
 .info-area .imp-info .title .little-title {padding-top: 4px; color:#797979; font-size: 10px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
 .info-area .imp-info .title .import-title {padding-top: 3px; font-size: 17px; line-height: 1.1em; font-weight: bold;
 white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
 .info-area .imp-info .title .time-info {padding-top: 6px; text-align: center; color:#888888; overflow: hidden;}
 .info-area .imp-info .title .time-info span {float: left; position: relative; display:block; padding-right:9px; text-align: center; font-size: 10px;}
 .info-area .imp-info .title .time-info span:before {content:""; display: block; width:0; height: 10px; border-left: 1px solid #d9d9d9; position: absolute; top:50%; left:0; margin-top: -5px;}
 .info-area .imp-info .title .time-info span:first-child:before {content: none;}
 .info-area .imp-info .title .time-info span:after {content:""; display: block; position: absolute; top:1px; left:6px; 
	background: url("../images/ico-share.png") no-repeat 0 0;
	-webkit-background-size: 50px;
	background-size: 50px;
}
 .info-area .imp-info .title .time-info .time {padding-left: 13px;}
 .info-area .imp-info .title .time-info .time:after {width:10px; height: 9px; left:0; background-position: 0 0}
 .info-area .imp-info .title .time-info .view {padding-left: 22px;}
 .info-area .imp-info .title .time-info .view:after {width:12px; height: 9px; background-position: -10px 0}
 .info-area .imp-info .title .time-info .date {padding-left: 17px;}
 .info-area .imp-info .title .time-info .date:after {width:9px; height: 9px; background-position: -23px 0}

 .info-area .imp-info .price-info {font-size: 12px;}
 .info-area .imp-info .price-info .sale {margin-right: 7px; float: left; font-size:32px; letter-spacing: -1px; color:#ed1b24;font-weight: bold;
}
 .info-area .imp-info .price-info .sale span {padding-left: 1px; font-size:15px; }
 .info-area .imp-info .price-info .price-name {padding-right: 5px; color:#f27935; letter-spacing: 1px;} 
 .info-area .imp-info .price-info .price {font-size: 17px; font-weight: bold;} 
 .info-area .imp-info .price-info .price.red {color:#ed1b24;} 
 .info-area .imp-info .price-info .before-price {display: block; padding-bottom: 3px; color:#9fa2a9; font-size: 8px; text-decoration:line-through;} 
 .info-area .imp-info .price-info .before-price+.price {font-size: 18px;} 

 .info-area .imp-info .price-info .interest {display: inline-block; padding: 5px 0 0 17px; color:#b9b9b9; font-size: 11px; background: url("../images/ico-heart.png") no-repeat 0 6px;
-webkit-background-size: 12px;
background-size: 12px;} 
 .info-area .etc-info {padding-top: 8px; padding-bottom: 8px; border-top: 1px solid #eeeeee;}
 .info-area .etc-info .date {padding-top: 3px; font-size: 11px; color:#797979;}

.list-share .info-area .imp-info .title {padding-right:50px;padding-bottom: 5px;}
.list-share .ico-share {width:50px; height: 66px;}

.line-2>ul {overflow: hidden;}
.line-2>ul>li {width:50%; float: left;}
.line-2>ul>li:nth-child(1),
.line-2>ul>li:nth-child(2) {margin-top: 0;}
.line-2 .info-area>div {padding-left: 10px;padding-right: 10px;}
.line-2 .info-area .imp-info .title .little-title {font-size: 9px;}
.line-2 .info-area .imp-info .title .import-title {font-size: 13px;}
.line-2 .info-area .etc-info .feature {font-size: 7px;}
.line-2 .img-area .label-area {height: 22px;}
.line-2 .img-area .label-area .label {font-size: 7px; min-width:0; padding:6px 5px; letter-spacing: -1px; font-weight: 300;}

.list-total-info {background-color: #fff; padding: 12px 10px; color:#797979;border-bottom: 1px solid #dadada}
.list-total-info .list-link a {float: left; position: relative; display:block; padding: 0 10px; text-align: center; }
.list-total-info .list-link a:before {content:""; display: block; width:0; height: 8px; border-left: 1px solid #dadada; position: absolute; top:50%; left:0; margin-top: -4px;}
.list-total-info .list-link a:first-child:before {content: none;}
.list-total-info .list-link a.on {color:#ff8711;}

.list-slide {margin: 10px 0 17px; border-top:1px solid #dadada; border-bottom:1px solid #dadada; background-color: #fff;}
.list-slide .list-slide-title {padding: 10px 18px 0; margin-bottom: 10px;}
.list-slide .list-slide-title .title {display: inline-block; padding-top: 2px; font-size: 13px;}
.list-slide .list-slide-title .list-slide-info {min-width:50px; padding: 3px 13px; border: 1px solid #dadada; 
	border-radius: 9px;
	-webkit-border-radius: 9px; 
	font-size: 9px; color:#b8b7b7;
}
.list-slide .list-slide-title .list-slide-info>* {padding: 0 3px;}
.list-slide .list-slide-title .list-slide-info strong {color: #000;}

.list-slide-li {overflow: hidden;}
.list-slide-li .list-area {margin:0 20px 10px;}
.list-slide-li .list-area .list-v {position: relative; width:600%;}
.list-slide-li .list-area .list-v>ul {position: relative;}
.list-slide-li .list-area .list-v>ul:after {content: ""; display: block; clear: both;}
.list-slide-li .list-area .list-v>ul>li {float: left; width:16.66%; padding: 0 5px; margin: 0;}
.list-slide-li .list-area .list-v .info-area .imp-info {padding-left: 11px; padding-right: 9px;}
.list-slide-li .list-area .list-v .info-area .imp-info .title .import-title {font-size: 15px;}
.list-slide-li .list-area .list-v .info-area .imp-info .price-info .price-name {font-size: 10px;}
.list-slide-li .list-area .list-v .info-area .imp-info .price-info .price {font-size: 13px;}
.list-slide-li .list-area .list-v .info-area .imp-info .title {padding-bottom: 6px;}
.list-slide-li .price-title {margin-top: 2px;}
.list-slide-li .feature {margin-right: 2px;}

.list-h>ul>li>a {position: relative; display: block; padding-left: 133px; height: 133px;}
.list-h>ul>li>a>div {height: 100%;}
.list-h .img-area {width:133px; position: absolute; top:0; left:0; }
.list-h .info-area {position: relative; padding-bottom: 29px; border-left: 0 none; border-top-width: 1px;}
.list-h .info-area>div {padding-left: 10px; padding-right: 10px;}
.list-h .info-area .imp-info {padding-top: 8px; padding-bottom: 8px;}
.list-h .info-area .imp-info .title {padding-left: 0; padding-bottom: 8px;}
.list-h .info-area .imp-info .title .range {padding-bottom: 3px;}
.list-h .info-area .imp-info .title .import-title {font-size: 14px;}
.list-h .info-area .imp-info .title .badge {position:static; 
	-webkit-border-radius: 0;
	border-radius: 0;
	width:auto; height: auto; padding: 0 3px; font-size: 7px;
	font-weight: normal; border-width: 1px;
}
.list-h .info-area .imp-info .title .date {color:#9d9d9d; font-size: 7px;}
.list-h .info-area .imp-info .price-info {display: table; width:100%;}
.list-h .info-area .imp-info .price-info .price-title {display: table-cell; height: 31px; vertical-align: middle;}
.list-h .info-area .imp-info .price-info .price.red {font-size: 20px;}
.list-h .info-area .etc-info {position: absolute; bottom:0; left:0; width:100%; padding-top: 5px; padding-bottom: 5px;}
.list-h .label-area {height: auto;}
.list-h .label-area .label {min-width:0; height: auto; padding: 5px 7px 5px; font-weight: 300; letter-spacing: -1px; }

.find-list {padding:17px 25px;}
.find-list ul {overflow: hidden;}
.find-list li {float: left; width:33.33%; padding: 0 2px; margin: 2px 0; }
.find-list li a {display: block; padding:8px 9px; border: 1px solid #dadada; background-color: #fff; text-align: center;
	font-size: 12px; color:#8c8c8c; }
.find-list li.on a {background-color: #ff8711; border-color: #ff8711; color:#fff;}


/* category */
.category-area:first-child {margin-top: 17px;}
.category-area [class^="category-list"] {border-bottom: 1px solid #dadada;}
.category-area [class^="category-list"]+[class^="category-list"] {margin-top:10px;}
.category-area .category-list-pink .title-area {background-color:#f3cfd7; }
.category-area .category-list-blue .title-area {background-color:#def8fe; }
.category-area .category-list-green .title-area {background-color:#e4e7c7; }
.category-area .category-list-orange .title-area {background-color:#ffc692; }

.category-area .title-area {
	padding: 10px 10px 0; text-align: center;
	border-radius: 18px 18px 0 0;
	-webkit-border-radius: 18px 18px 0 0;
}


.category-area .title-area .title {display: inline-block; width:124px; margin: 11px  11px 14px; font-weight: 500; font-size: 21px; border-bottom: 2px solid #000; text-align: center; line-height: 1.6em;}
.category-area .detail-list {background-color: #fff}
.category-area .detail-list:after {content: ""; display: block; width: 1px; height: 1px;}
.category-area .detail-list>ul {margin-right: 10px; overflow: hidden;}
.category-area .detail-list>ul>li {float: left; width:50%; padding-left:10px; margin-top: 10px; font-size: 0;}
.category-area .detail-list>ul>li:nth-child(1),
.category-area .detail-list>ul>li:nth-child(2) {margin-top: 0;}
.category-area .detail-list .ico-more {display: block; margin: 17px 45px; padding: 7px; border: 1px solid #d9d9d9;text-indent: 0; text-align: center;}
.category-area .detail-list .ico-more span {position: relative; display: inline-block; padding-right: 20px; font-size: 11px; letter-spacing: 3px; color:#5f5f5f;}
.category-area .detail-list .ico-more span:after {content: ""; display: block; width:9px; height: 9px;
	position: absolute; right:0; top:50%; margin-top: -4px;
	background: url("../images/ico-home-basic.png") no-repeat 0 -44px;
	-webkit-background-size: 147px;;
	background-size: 147px;;
}


/* footer */
#footer {background-color: #fff;}
.site-menu {text-align: center; background-color: #2d2d2d; color:#fff; font-weight: bold; overflow: hidden;}
.site-menu a {float: left; position: relative; display:block; width:25%; height: 44px; padding-top: 15px; text-align: center; font-size: 12px;}
.site-menu a:before {content:""; display: block; width:0; height: 10px; border-left: 1px solid #fff; position: absolute; top:50%; left:0; margin-top: -5px;}
.site-menu a:first-child:before {content: none;}

#footer address {padding: 0 23px; font-size: 11px; color:#666666;}
#footer address p {line-height: 1.6em;}

.site-info {text-align: center; padding: 22px  0;}
.site-info a {position: relative; display:inline-block; padding: 0 18px; color:#666666; font-size: 12px; font-weight: bold;}
.site-info a:before {content:""; display: block; width:0; height: 10px; border-left: 1px solid #b3b3b3; position: absolute; top:50%; left:0; margin-top: -5px;}
.site-info a:first-child:before {content: none;}























