/* noto sans */
@import url(https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/stylesheets/NotoSansKR-Hestia.css);

/* reset css */
html,body {height: 100%; font-size:10px; }
html,body,header,footer,section,article,div,p,table,td,th,thead,tbody,tfoot,form,dl,dt,dd,ul,ol,li,img,a,span,strong,em,i,input,label,h1,h2,h3,h4,h5,h6,button
{
	font-family:'Noto Sans Korean',sans-serif; font-style: normal; font-weight: normal; line-height: 1em; word-wrap:break-word;word-break: keep-all; letter-spacing:0; 
	padding:0; margin: 0; border:0; background-color: transparent; text-align: left; 
	-webkit-text-size-adjust: none;
	-webkit-box-sizing: border-box; 
	box-sizing: border-box; 

}
h1,h2,h3,h4,h5,h6 {font-weight: normal;}
select,input {padding:0; margin: 0;
	-webkit-appearance:none;
	appearance:none;
	-webkit-border-radius: 0 ;
	border-radius: 0 ;
}
img {max-width:100%;}
ul,ol,li {list-style: none;}
a,
a:hover,a:active,a:visited {color:inherit; text-decoration: none;}
caption {display: none;}
/* base */
body {
	background-color: #eceaeb;
	-webkit-background-size: cover;
	background-size: cover; 
}
/* custom */
button {border: 0 none; background-color: transparent;}
[class^="form-"] {
	display: block;
	position: relative;
	overflow: hidden;
	vertical-align: top;
}
[class^="form-"] input {
	-webkit-appearance: none;
	appearance: none;
}
[class^="form-"] .f {position: relative; display: block; min-height: 16px; margin: 6px 0; padding-left: 20px; }
[class^="form-"] .f input[type="radio"] {position: absolute; top:0; left:0;}
[class^="form-"] .f label {display: inline-block; line-height: 1.5em;}
[class^="form-"].left .f {float: left; padding-right: 6px;}
[class^="form-"].ea4 .f {width:25%;}
/* checkbox */
.form-box {margin-top: -10px;}
.form-box .f {position: relative; height: 33px; margin: 10px 0 0 0 !important; padding: 0 3px;}
.form-box .f input {position: absolute; top:50% !important; left:50% !important; z-index: 1 !important; width:2px; height: 2px !important; display: block; height: 100%; background-color: #ededed; color:#444; font-size: 11px ; font-weight: 500;}
.form-box .f input+label {position: relative; z-index: 10; display: block; width:100%; height: 100%; padding-top: 9px; text-align: center;
	 background-color: #ededed; color:#444; font-size: 11px ; font-weight: 500;
     -webkit-border-radius: 3px;
    border-radius: 3px;
    overflow: hidden;
}
.form-box .f input:checked+label {background-color: #ff8711; color:#fff; }
/*.form-checkbox input {
	width: 26px;
	height: 26px;
	margin:0 0 -2px 30px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	border: 2px solid #eee;
	background: #fff url('../images/checked.png') no-repeat 100% 100%;
	outline: 0 none;
}
.form-checkbox input:checked {
	border: 2px solid #1786d4;
	background-color: #1786d4;
	background-position: 60% -60%;
}
.form-checkbox:first-child input { margin-left: 0; }*/

/* radio */
.form-radio input {
	width: 16px;
	height: 16px;
	/*margin:0 0 -2px 30px;*/
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border: 2px solid #d9d9d9;
	background: #fff url('../images/checked.png') no-repeat 2px 3px;
	-webkit-background-size: 8px;
	background-size: 8px;
	outline: 0 none;
	vertical-align: top;
}
.form-radio input:checked {
	border: 2px solid #ff8711;
	background-color: #ff8711;
	background-position: 2px -15px;
}

.form-radio input+label {color:#444444; font-size:11px }
.form-radio input:checked+label {color:#ff8711; }

.date-area {height: 33px;}
.date-area * {height: 100%; display: block; float: left; }
.date-area [class$="-day"] {position: relative; width: 46%; padding-right: 36px;}
.date-area [class$="-day"] input {width:100%; padding-left: 21px; border: 1px solid #cbcaca; }
.date-area [class$="-day"] button { }
.date-area .first-day {}
.date-area .last-day {}
.date-area .span {width: 8%; font-size: 17px; font-weight: bold; padding-top: 8px; text-align: center; }

/* 정렬 */
.tal { text-align: left !important; }
.tac { text-align: center !important; }
.tar { text-align: right !important; }

.range:after {content: ""; display: block; clear: both;}
.range .left {float: left;}
.range .right {float: right;}

/* sns */
.sns-area {padding: 20px 0;text-align: center; font-size: 0;}

/* icon */
[class^="ico"] {display: inline-block; overflow: hidden; text-indent: -999px;}
[class^="ico-sns-"] {width:35px; height: 35px; margin: 0 7px; background: url("../images/ico-sns.png") no-repeat 0 0;
	-webkit-background-size: 140px;
	background-size: 140px;}
.ico-sns-facebook {background-position: 0 0;}
.ico-sns-story {background-position: -35px 0;}
.ico-sns-blog {background-position: -70px 0;}
.ico-sns-cafe {background-position: -105px 0;}

.ico-share {position: absolute; bottom:0; right:0; z-index: 10;}
.ico-share:before {content: ""; position: absolute; top:50%; left:50%; display: block; width:19px; height: 20px; margin:-10px 0 0 -10px;  
	background: url("../images/ico-share.png") no-repeat 100% 0;
	-webkit-background-size: 50px;
	background-size: 50px;
}
.ico-top {position: fixed; bottom:17px; right:10px; z-index: 100; width:42px; height: 42px;
	border: 1px solid #ff9100;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	box-shadow: 2px 2px 1px rgba(0,0,0,0.2);
	-webkit-box-shadow: 2px 2px 1px rgba(0,0,0,0.2);
	background: #fff url("../images/ico-home-basic.png") no-repeat -114px 6px;
	-webkit-background-size: 147px;
	background-size: 147px;
}

.ico-coupon-down {position: absolute; top:0; right:0; z-index: 10;}
.ico-coupon-down:before {content: ""; position: absolute; top:50%; left:50%; display: block; width:31px; height: 32px; margin:-16px 0 0 -16px;  
	background: url("../images/ico-home-basic.png") no-repeat -76px -35px;
	-webkit-background-size: 147px;
	background-size: 147px;
}

.ico-list {position: absolute;  top:50%; left:16px; margin-top: -15px; width:30px; height: 30px;
	background: transparent url("../images/ico-home-basic.png") no-repeat 0 0;
	-webkit-background-size: 147px;
	background-size: 147px;
}

.ico-del {width:38px; height: 37px; margin-left: 8px;
	background: #fff url("../images/ico-del.png") no-repeat 7px 50%;
	-webkit-background-size: 12px;
	background-size: 12px;	
}

.ico-s-del {width:27px; height: 100%; position: absolute; top:0; right:0; }
.ico-s-del:after {content:""; display: block; width:10px; height: 10px;
	position: absolute; top:11px; right: 11px;
	background: url("../images/ico-home-basic.png") no-repeat -95px -74px;
	-webkit-background-size: 147px;
	background-size: 147px;
}

.ico-close {width:15px; height: 15px; position: absolute; top:24px; right:24px; z-index: 100;
	background: url("../images/ico-home-basic.png") no-repeat -52px -74px;
	-webkit-background-size: 147px;
	background-size: 147px;
}

.ico-popup-close {width:21px; height: 21px; position: absolute; top:24px; right:16px; z-index: 100;
	background: url("../images/ico-home-basic.png") no-repeat -126px -46px;
	-webkit-background-size: 147px;
	background-size: 147px;
}

.ico-prev-02 {width:15px; height: 15px; position: absolute; top:24px; left:16px; z-index: 100;
	background: url("../images/ico-home-basic.png") no-repeat -76px -74px;
	-webkit-background-size: 147px;
	background-size: 147px;
}

.ico-cal {
	width:36px; height: 33px; position: absolute; top:0; right:0; z-index: 100;
	background: url("../images/ico-home-basic.png") no-repeat -109px -74px;
	-webkit-background-size: 147px;
	background-size: 147px;
}


[class^="txt-"] {display: inline-block; }
.txt-more {
	position: relative;	background-color: #fff;	font-size: 7px; color:#797979 !important; border: 1px solid #dadada; 
	padding: 2px 21px 2px 13px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
}
.txt-more:after {content: ""; display: block; position: absolute; right:7px; top:50%; margin-top: -3px;
	width:6px; height: 7px; overflow: hidden;
	background: #fff url("../images/ico-home-basic.png") no-repeat 0 -60px;
	-webkit-background-size: 147px;
	background-size: 147px;	
}

[class^="txt-more-bar"] {display: block; text-align: center;}
[class^="txt-more-bar"] span {position: relative; display: inline-block; }
[class^="txt-more-bar"] span:after  {content: ""; display: block; position: absolute; right:0; top:50%;  }

.txt-more-bar { margin: 17px 45px; padding: 7px; border: 1px solid #d9d9d9; }
.txt-more-bar span {padding-right: 20px; font-size: 11px; letter-spacing: 3px; color:#5f5f5f;}
.txt-more-bar span:after {width:9px; height: 9px; margin-top: -4px;
	background: url("../images/ico-home-basic.png") no-repeat 0 -44px;
	-webkit-background-size: 147px;
	background-size: 147px;
}

.txt-more-bar-02 {margin: 10px 7px 17px; padding: 11px; background-color: #fff; border-bottom: 1px solid #d9d9d9; }
.txt-more-bar-02 span {padding-right: 23px; font-size: 11px; color:#949494; }
.txt-more-bar-02 span:after {width:13px; height: 8px; margin-top: -4px;
	background: url("../images/ico-home-basic.png") no-repeat -14px -59px;
	-webkit-background-size: 147px;
	background-size: 147px;
}
.txt-more-bar-02 span strong {color:#000;}
.list-area .txt-more-bar-02 {margin-right: 0;}

.txt-more-bar-03 {margin-top:5px; padding: 11px; background-color: #fff; border-top: 1px solid #d9d9d9; }
.txt-more-bar-03 span {padding-right: 23px; font-size: 13px; color:#acacac; }
.txt-more-bar-03 span:after {width:13px; height: 8px; margin-top: -3px;
	background: url("../images/ico-home-basic.png") no-repeat -48px -41px;
	-webkit-background-size: 147px;
	background-size: 147px;
}

.txt-coupon-detail {position: relative; padding: 2px 20px 2px 6px; color:#888 !important; font-size: 7px;
	border: 1px solid #dadada; background-color: #fff;
}
.txt-coupon-detail:after {content: ""; display: block; width:5px; height: 3px;
	position: absolute; right:7px; top:50%; margin-top: -2px;
	background: url("../images/ico-home-basic.png") no-repeat -33px -59px;
	-webkit-background-size: 148px;
	background-size: 148px;
}
.txt-coupon-detail.on:after {background-position: -33px -64px;}


.play {position: relative;}
.play:before {content:''; display: block; position: absolute; top:50%; left:50%; width:64px; height: 64px; margin: -32px 0 0 -32px;
	background: url("../images/ico-play.png") no-repeat 0 0;
	-webkit-background-size: 64px;
	background-size: 64px;
}


.feature {display: inline-block; padding: 3px 4px; float: left; margin-right: 5px; border: 1px solid #dadada; color:#797979; font-size: 9px;}
.feature.red {color:#fb5b61;}

.badge {display: block; width:40px; height: 39px; padding-top: 12px; border: 2px solid #ed1b24; color:#ed1b24; font-weight: bold; font-size: 11px; text-align: center;
	background-color: #fff;
	border-radius:50%; 
	-webkit-border-radius:50%;
}

.label-area {position: absolute; height: 30px; }
.label-area.top {top: 0; left:0;}
.label-area.left {bottom: 10px; left:16px;}
.label-area.right {bottom: 0; right:0;}
.label-area .label {display: inline-block; min-width:40px; height: 100%; padding: 10px 7px 5px; float: left; font-size: 10px; text-align: center;}

.label.purple {background-color: #77246c; color:#fff;}
.label.light-purple {background-color: #8064ea; color:#fff;}
.label.green {background-color: #b0dc03; color:#000;}
.label.yellow {background-color: #ffd801; color:#000;}
.label.pink {background-color: #ff7a7b; color:#fff;}
.label.mint {background-color: #76ccc3; color:#fff;}
.label.black-alpha {height: 27px; padding: 7px 12px; background-color: rgba(0,0,0,0.25); color:#fff; font-size: 11px; letter-spacing: 1px;}

.tab-area {margin-bottom: 12px; background-color: #fff; border-bottom: 1px solid #dadada;}
.tab-area>ul {display: table; width:100%; table-layout: fixed; padding: 0 7px;}
.tab-area>ul>li {display: table-cell;}
.tab-area>ul>li>a {display: block; padding: 11px 0; text-align: center; border-bottom: 4px; border-style: solid; border-color: #fff;}

.tab-area.type01>ul>li>a {color:#555555; font-size: 13px; font-weight: bold;}
.tab-area.type01>ul>li.on>a {color:#fa464c; border-color:#fa464c; }

.tab-area.type02 {margin-bottom: 7px;}
.tab-area.type02>ul>li>a {color:#555555; font-size: 13px; }
.tab-area.type02>ul>li.on>a {color:#000; border-color:#ff8711; font-weight: bold;}

.tab-area.type03 {border-top: 1px solid #dadada; margin-bottom: 0;}
.tab-area.type03>ul {padding: 0;}
.tab-area.type03>ul>li>a {position: relative; color:#888888; font-size: 13px; }
.tab-area.type03>ul>li.on>a {color:#ff8711; border-color:#ff8711; font-weight: 500;}
.tab-area.type03>ul>li>a:before {content:""; display: block; width:0; height: 10px; border-left: 1px solid #d7d7d7; position: absolute; top:50%; left:0; margin-top: -5px;}
.tab-area.type03>ul>li:first-child>a:before {content: none;}

.btn-area {display: table; width:100%; table-layout: fixed; border-collapse: separate; border-spacing: 5px;}
.btn-area [class^="btn"] {display: table-cell; height: 46px; padding-top: 14px; font-size: 18px; text-align: center;
	-webkit-border-radius:3px;
	border-radius:3px;
	overflow: hidden; 
}
.btn-area .btn-white {background-color: #fff; color:#797979;}
.btn-area .btn-w-orange {background-color: #fff; color:#ff8711;}
.btn-area .btn-orange {background-color: #ff8711; color:#fff;}
.btn-area [class^="btn"].bold {font-weight: bold;}


/*  --------
	page css 
	--------  */	
#wrap {position: relative; height: 100%; }

#header {position: relative; z-index: 10;}
#header header {position: relative; height: 50px; border-bottom: 1px solid #dadada; background-color: #f5f5f5; text-align: center;}
#header header [class^="ico"] {position: absolute;  top:50%; margin-top: -15px; width:30px; height: 30px;
	background: transparent url("../images/ico-home-basic.png") no-repeat 0 0;
	-webkit-background-size: 147px;
	background-size: 147px;
}
#header header a.ico-member-info {left:16px; background-position: -1px -1px; border: 1px solid #c4c4c4} 
#header header a.ico-total-search {right:16px; background-position: -30px 0;} 
#header header h1 {width:104px; display: inline-block; margin-top: 6px;}
#header header h1 a {display: block;font-size: 0;}
#header nav.menu {overflow: hidden; background-color: #fff; 
	box-shadow:0 2px 3px rgba(0,0,0,0.13); 
	-webkit-box-shadow:0 2px 3px rgba(0,0,0,0.13);
}
#header nav.menu ul {width:574px; height: 40px;}
#header nav.menu ul li {float: left; height: 100%;}
#header nav.menu ul li a {display: block; height: 100%; padding: 12px 13px 0; font-size: 13px; color:#000; border-bottom:3px solid #fff;}
#header nav.menu ul li.on a {color:#ff8711; border-bottom:3px solid #ff8711;}

#content>.home-menu:first-child {margin-top: 10px;}

[class^="bn-area"] a {display: block; font-size: 0; }
.bn-area-top {margin-bottom: 10px; border-bottom: 1px solid #dadada;}

.img-slide {position: relative; margin-bottom: 10px;}					
.img-slide a {display: block;font-size: 0;}					
.slide-info {position: absolute; bottom:10px; right:7px; width:70px; height: 23px;
	padding: 4px 0 0 3px; font-size: 12px; line-height: 0;
	border-radius:12px;
	-webkit-border-radius:12px;
	background: rgba(0,0,0,0.5) url("../images/img-allview.png") no-repeat 100% 0;
	-webkit-background-size: 23px;
	background-size: 23px;
	color:#fff;
}
.slide-info * {font-size: inherit;}
.slide-info strong,.slide-info span {padding: 0 4px;}
.slide-info i {opacity: 0.5}

.home-menu {margin-bottom: 10px; border-top: 1px solid #dadada;background-color: #fff;}
.home-menu ul {height: 127px;}
.home-menu ul li {width:20%; height: 50%; float: left; border-left: 1px solid #f5f5f5; border-bottom: 1px solid #f5f5f5}
.home-menu ul li a {position: relative; display: block;width:100%; height: 100%; padding-top: 42px; text-align: center; font-size: 10px; color:#000;}
.home-menu ul li a:before {content: ""; display: block; position: absolute;  top:15px; left:50%; 
	background: url("../images/ico-menus.png") no-repeat 0 0; overflow: hidden;
	-webkit-background-size: 167px;
	background-size: 167px;
    letter-spacing: 0px;
}
.home-menu ul li:nth-child(1),
.home-menu ul li:nth-child(6) {border-left: 0 none;}
.home-menu .h-menu01 a:before {width:22px; height: 17px; margin-left: -11px; background-position:0 0 }
.home-menu .h-menu02 a:before {width:17px; height: 20px; margin-left: -8px; background-position:-39px 0 }
.home-menu .h-menu03 a:before {width:22px; height: 20px; margin-left: -11px; background-position:-73px 0 }
.home-menu .h-menu04 a:before {width:24px; height: 21px; margin-left: -12px; background-position:-109px 0 }
.home-menu .h-menu05 a:before {width:19px; height: 20px; margin-left: -8px; background-position:-148px 0 }
.home-menu .h-menu06 a:before {width:26px; height: 19px; margin-left: -14px; background-position:-3px -30px }
.home-menu .h-menu07 a:before {width:19px; height: 19px; margin-left: -8px; background-position:-42px -30px }
.home-menu .h-menu08 a:before {width:15px; height: 24px; margin-left: -8px; background-position:-80px -26px; top:11px; }
.home-menu .h-menu09 a:before {width:18px; height: 19px; margin-left: -9px; background-position:-114px -30px }
.home-menu .h-menu10 a:before {width:18px; height: 19px; margin-left: -9px; background-position:-150px -30px }

.home-menu ul li.on a {background-color:#ff8711; color:#fff; }

.list-area {margin: 10px 7px 10px 0;}
.list-area>div>ul>li {position: relative; margin-top:10px; padding-left: 7px;}

.list-area .img-area {position: relative; font-size: 0;}

.info-area {background-color:#fff ; border-width:0 1px 1px 1px; border-style:solid; border-color:#dadada;}
 .info-area>div{padding:0 16px;}
 .info-area .imp-info {padding-top:11px; padding-bottom:11px;}
 .info-area .imp-info .title {padding:0 0 12px 50px; position: relative;}
 .info-area .imp-info .title.no-badge {padding-left: 0;}
 .info-area .imp-info .title .badge {position: absolute; left:0; top:0;}
 .info-area .imp-info .title .little-title {padding-top: 4px; color:#797979; font-size: 10px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
 .info-area .imp-info .title .import-title {padding-top: 3px; font-size: 17px; line-height: 1.1em; font-weight: bold;
 white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.time-info {padding-top: 6px; text-align: center; color:#888888; overflow: hidden;}
.time-info span {float: left; position: relative; display:block; padding-right:9px; text-align: center; font-size: 10px;}
.time-info span:before {content:""; display: block; width:0; height: 10px; border-left: 1px solid #d9d9d9; position: absolute; top:50%; left:0; margin-top: -5px;}
.time-info span:first-child:before {content: none;}
.time-info span:after {content:""; display: block; position: absolute; top:1px; left:6px; 
	background: url("../images/ico-share.png") no-repeat 0 0;
	-webkit-background-size: 50px;
	background-size: 50px;
}
.time-info .time {padding-left: 13px;}
.time-info .time:after {width:10px; height: 9px; left:0; background-position: 0 0}
.time-info .view {padding-left: 22px;}
.time-info .view:after {width:12px; height: 9px; background-position: -10px 0}
.time-info .date {padding-left: 17px;}
.time-info .date:after {width:9px; height: 9px; background-position: -23px 0}

.info-area .imp-info .price-info {font-size: 12px;}
.info-area .imp-info .price-info .sale {margin-right: 7px; float: left; font-size:32px; letter-spacing: -1px; color:#ed1b24;font-weight: bold;
}
.info-area .imp-info .price-info .sale span {padding-left: 1px; font-size:15px; }
.info-area .imp-info .price-info .price-name {padding-right: 5px; color:#f27935; letter-spacing: 1px;} 
.info-area .imp-info .price-info .price {font-size: 17px; font-weight: bold;} 
.info-area .imp-info .price-info .price.red {color:#ed1b24;} 
.info-area .imp-info .price-info .before-price {display: block; padding-bottom: 3px; color:#9fa2a9; font-size: 8px; text-decoration:line-through;} 
.info-area .imp-info .price-info .before-price+.price {font-size: 18px;} 

.info-area .imp-info .price-info .interest {display: inline-block; padding: 5px 0 0 17px; color:#b9b9b9; font-size: 11px; background: url("../images/ico-heart.png") no-repeat 0 6px;
-webkit-background-size: 12px;
background-size: 12px;} 
.info-area .etc-info {padding-top: 6px; padding-bottom: 6px; border-top: 1px solid #eeeeee;}
.info-area .etc-info .date {padding-top: 3px; font-size: 11px; color:#797979;}

.list-share {position: relative;}
.list-share .info-area .imp-info .title {padding-right:50px;padding-bottom: 5px;}
.list-share .ico-share {width:50px; height: 66px;}

.line-2>ul {overflow: hidden;}
.line-2>ul>li {width:50%; float: left;}
.line-2>ul>li:nth-child(1),
.line-2>ul>li:nth-child(2) {margin-top: 0;}
.line-2 .info-area>div {padding-left: 10px;padding-right: 10px;}
.line-2 .info-area .imp-info .title .little-title {font-size: 9px;}
.line-2 .info-area .imp-info .title .import-title {font-size: 13px;}
.line-2 .info-area .etc-info .feature {font-size: 7px;}
.line-2 .img-area .label-area {height: 22px;}
.line-2 .img-area .label-area .label {font-size: 7px; min-width:0; padding:6px 5px; letter-spacing: -1px; font-weight: 300;}

.list-total-info {background-color: #fff; padding: 12px 10px; color:#797979;border-bottom: 1px solid #dadada}
.list-total-info .list-link a {float: left; position: relative; display:block; padding: 0 10px; text-align: center; }
.list-total-info .list-link a:before {content:""; display: block; width:0; height: 8px; border-left: 1px solid #dadada; position: absolute; top:50%; left:0; margin-top: -4px;}
.list-total-info .list-link a:first-child:before {content: none;}
.list-total-info .list-link a.on {color:#ff8711;}

.list-slide {margin: 10px 0 17px; border-top:1px solid #dadada; border-bottom:1px solid #dadada; background-color: #fff;}
.list-slide .list-slide-title {padding: 10px 18px 0; margin-bottom: 10px;}
.list-slide .list-slide-title .title {display: inline-block; padding-top: 2px; font-size: 13px;}
.list-slide .list-slide-title .list-slide-info {min-width:50px; padding: 3px 13px; border: 1px solid #dadada; 
	border-radius: 9px;
	-webkit-border-radius: 9px; 
	font-size: 9px; color:#b8b7b7;
}
.list-slide .list-slide-title .list-slide-info>* {padding: 0 3px;}
.list-slide .list-slide-title .list-slide-info strong {color: #000;}

.list-slide-li {overflow: hidden;}
.list-slide-li .list-area {margin:0 20px 10px;}
.list-slide-li .list-area .list-v {position: relative; width:600%;}
.list-slide-li .list-area .list-v>ul {position: relative;}
.list-slide-li .list-area .list-v>ul:after {content: ""; display: block; clear: both;}
.list-slide-li .list-area .list-v>ul>li {float: left; width:16.66%; padding: 0 5px; margin: 0;}
.list-slide-li .list-area .list-v .info-area .imp-info {padding-left: 11px; padding-right: 9px;}
.list-slide-li .list-area .list-v .info-area .imp-info .title .import-title {font-size: 15px;}
.list-slide-li .list-area .list-v .info-area .imp-info .price-info .price-name {font-size: 10px;}
.list-slide-li .list-area .list-v .info-area .imp-info .price-info .price {font-size: 13px;}
.list-slide-li .list-area .list-v .info-area .imp-info .title {padding-bottom: 6px;}
.list-slide-li .price-title {margin-top: 2px;}
.list-slide-li .feature {margin-right: 2px;}

.list-h>ul>li>* {position: relative; display: block; padding-left: 133px; height: 133px;}
.list-h>ul>li>*>div {height: 100%;}
.list-h .img-area {width:133px; position: absolute; top:0; left:0; }
.list-h .info-area {position: relative; padding-bottom: 29px; border-left: 0 none; border-top-width: 1px;}
.list-h .info-area>div {padding-left: 10px; padding-right: 10px;}
.list-h .info-area .imp-info {padding-top: 8px; padding-bottom: 8px;}
.list-h .info-area .imp-info .title {padding-left: 0; padding-bottom: 8px;}
.list-h .info-area .imp-info .title .range {padding-bottom: 3px;}
.list-h .info-area .imp-info .title .import-title {font-size: 14px;}
.list-h .info-area .imp-info .title .badge {position:static; 
	-webkit-border-radius: 0;
	border-radius: 0;
	width:auto; height: auto; padding: 0 3px; font-size: 7px;
	font-weight: normal; border-width: 1px;
}
.list-h .info-area .imp-info .title .date {color:#9d9d9d; font-size: 7px;}
.list-h .info-area .imp-info .price-info {display: table; width:100%;}
.list-h .info-area .imp-info .price-info .price-title {display: table-cell; height: 31px; vertical-align: middle;}
.list-h .info-area .imp-info .price-info .price.red {font-size: 20px;}
.list-h .info-area .etc-info {position: absolute; bottom:0; left:0; width:100%; padding-top: 5px; padding-bottom: 5px;}
.list-h .label-area {height: auto;}
.list-h .label-area .label {min-width:0; height: auto; padding: 5px 7px 5px; line-height: 1em; font-weight: 300; letter-spacing: -1px; }

.find-list {padding:17px 25px;}
.find-list ul {overflow: hidden;}
.find-list li {float: left; width:33.33%; padding: 0 2px; margin: 2px 0; }
.find-list li a {display: block; padding:8px 9px; border: 1px solid #dadada; background-color: #fff; text-align: center;	 }
.find-list li a span {position: relative; display: inline-block; padding-right: 15px; font-size: 12px; color:#8c8c8c; }
.find-list li a span:after {content: ''; display: block; width:8px; height: 8px; 
	position: absolute;	top:3px; right:0; overflow: hidden;
	background: url("../images/ico-home-basic.png") no-repeat -16px -44px;
	-webkit-background-size: 147px;
	background-size: 147px;
}
.find-list li.on a {background-color: #ff8711; border-color: #ff8711; }
.find-list li.on a span {color:#fff; }
.find-list li.on a span:after {background-position: -29px -44px; }

.find-title {margin: 16px 10px 0;}
.find-title .title {position: relative; padding-left: 30px; font-size: 13px;}
.find-title .title:after {content: ''; display: block; width:23px; height: 15px; 
	position: absolute;	top:2px; left:0; overflow: hidden;
	background: url("../images/ico-home-basic.png") no-repeat -48px -50px;
	-webkit-background-size: 147px;
	background-size: 147px;
}

/* movie */
.movie-view {margin-bottom: 10px;}
.movie-view .info-area {border-width: 0 0 1px 0;}
.movie-title-area {position: relative; height: 50px; padding: 9px 48px 0 55px; border-bottom: 1px solid #dadada; background-color: #fff;}
.movie-title-area .ico-list {}
.movie-title-area p {padding-top: 7px; font-size: 18px; color:#000; letter-spacing: -1px;  white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}

[class^="movie-detail-"] {padding: 15px 15px 0 15px; margin-bottom: 15px; border-top: 1px solid #dadada; border-bottom: 1px solid #dadada; background-color: #fff;}
.movie-detail-info {margin-top: -1px; padding-bottom: 15px; }
.movie-detail-info .detail-txt li {padding-left: 0;}
.movie-detail-info .detail-txt li:before {content: none;}
.movie-detail-info .detail-txt li>span {font-size: 13px;}
.movie-detail-info .detail-txt li .title {width:auto; color:#000; font-weight: 500;}
.movie-detail-info .detail-txt li .title:before {right:3px; color:#888;}
.movie-detail-info .movie-txt {margin-top: 15px; font-size: 13px; line-height: 1.4em; color:#000;}

.total-info {margin-bottom: 5px; background-color: #fff; color:#797979;}
.total-info .title {font-size: 13px; color:#000;}
.total-info .title+span {position: relative; display: inline-block; padding-left: 6px; margin-left: 5px; font-size: 13px;}
.total-info .title+span:before {content:""; display: block; width:0; height: 8px; border-left: 1px solid #dadada; position: absolute; top:50%; left:0; margin-top: -4px;}
.total-info .list-link a {float: left; position: relative; display:block; padding: 0 10px; text-align: center; }
.total-info .list-link a:before {content:""; display: block; width:0; height: 8px; border-left: 1px solid #dadada; position: absolute; top:50%; left:0; margin-top: -4px;}
.total-info .list-link a:first-child:before {content: none;}
.total-info .list-link a:last-child {padding-right: 0;}
.total-info .list-link a.on {color:#ff8711;}

.movie-detail-best .best-movie {margin: 0; padding-left: 0;}
.movie-detail-best .best-movie>div>ul>li {margin: 0; padding: 10px 0;}
.movie-detail-best .best-movie .list-h .info-area {border: 0 none; padding-top: 0;padding-bottom: 0}
.movie-detail-best .best-movie .list-h>ul>li>* {height: 84px; padding-left: 153px;}
.movie-detail-best .best-movie .img-area {width: 153px;}
.movie-detail-best .best-movie .img-area.play:before {width:22px; height: 22px; left:7px; bottom:7px; top:initial; margin: 0;
	-webkit-background-size: 22px;
	background-size: 22px;
}
.movie-detail-best .best-movie .info-area>div {position: relative; height: 100%; padding: 4px 0 20px 10px; }
.movie-detail-best .best-movie .info-area .time-info {position: absolute; bottom:0; left:0; width:100%; height: 16px; padding-top: 0; padding-left: 10px;}
.movie-detail-best .best-movie .info-area .imp-info .title .import-title a {font-weight: bold; line-height: 1.25em; white-space: normal;word-break: break-all; word-wrap:break-word;}
.movie-detail-best .best-movie .ico-share {right: -7px; top: 1px; bottom:initial; width: 19px; height: 17px; }
.movie-detail-best .best-movie .ico-share:before {width: 19px; height: 17px; 
	background-position:  -21px 3px;
	-webkit-background-size: 33px;
	background-size: 33px;
}

.movie-detail-best .best-movie>div>ul>li {border-top: 1px solid #d9d9d9;}
.movie-detail-best .best-movie>div>ul>li:first-child {border-top:0 none;}

.movie-detail-reply	.total-info	{padding-bottom: 15px; border-bottom: 1px solid #d9d9d9;}
.movie-detail-reply	.write-reply {position: relative; margin-top: 20px;}
.movie-detail-reply	.write-reply:after {content: ""; position: absolute; right:14px; top:50%; margin-top: -7px;
	display: block; width:13px; height: 14px;
	background: url("../images/ico-home-basic.png") no-repeat -113px -52px;
	-webkit-background-size: 147px;
	background-size: 147px;
}
.movie-detail-reply	.write-reply .txt-reply	{display: block; width:100%; padding: 4px 32px 4px 14px; border: 1px solid #dadada;}
.movie-detail-reply	.reply-list>ul>li {position: relative; padding: 14px 0 14px 57px; border-top: 1px solid #d9d9d9;}
.movie-detail-reply	.reply-list>ul>li:first-child {border-top: 0 none;}
.movie-detail-reply	.reply-list>ul>li .member {position: absolute; top:14px; left:5px; width:41px; height: 41px; overflow: hidden;}
.movie-detail-reply	.reply-list>ul>li .reply {font-size: 13px; color:#444444; line-height: 1.3em;}
.movie-detail-reply	.reply-list>ul>li .reply-02-num {margin-top: 8px;}
.movie-detail-reply	.reply-list>ul>li .reply-02-num a {position: relative; padding-right: 11px; font-size: 9px; color:#444444;}
.movie-detail-reply	.reply-list>ul>li .reply-02-num a:after {content: ""; position: absolute; top:50%; right:0;
	display: block;	width:6px; height: 4px; margin-top: -1px;
	background: url("../images/ico-home-basic.png") no-repeat -113px -35px;
	-webkit-background-size: 147px;
	background-size: 147px;
}
.movie-detail-reply	.reply-list>ul>li .reply-02-num.on a:after {background-position: -113px -43px;}
.movie-detail-reply	.reply-list>ul>li .reply-02-num a span {padding-left: 5px;}

/*.movie-detail-reply	.reply-list .reply-list-02 {margin-top: 13px; }*/
.movie-detail-reply	.reply-list .reply-list-02>ul>li {position: relative; margin-top: 13px; padding:10px 0 0 23px; border-top: 1px solid #d9d9d9;}
.movie-detail-reply	.reply-list .reply-list-02>ul>li:before {content: ""; display: block; position: absolute; top:13px; left:9px;
	width:7px; height: 7px; border-width:  0 0 1px 1px; border-style: solid; border-color: #797979;
}
.movie-detail-reply	.reply-list .reply-list-02>ul>li .reply-02 {font-size: 13px; color:#444444; line-height: 1.3em;}



.movie-detail-reply	.reply-info	{margin-top: 8px; overflow: hidden;}
.movie-detail-reply	.reply-info span {float: left; position: relative; display:block; padding: 0 5px 0 7px; color:#84a4d3; font-size: 9px;}
.movie-detail-reply	.reply-info span:before {content:""; display: block; width:0; height: 7px; border-left: 1px solid #dadada; position: absolute; top:50%; left:0; margin-top: -3px;}
.movie-detail-reply	.reply-info span:first-child {padding-left: 0;}
.movie-detail-reply	.reply-info span:first-child:before {content: none;}


/* category */
.category-area:first-child {margin-top: 17px;}
.category-area [class^="category-list"] {border-bottom: 1px solid #dadada;}
.category-area [class^="category-list"]+[class^="category-list"] {margin-top:10px;}
.category-area .category-list-pink .title-area {background-color:#f3cfd7; }
.category-area .category-list-blue .title-area {background-color:#def8fe; }
.category-area .category-list-green .title-area {background-color:#e4e7c7; }
.category-area .category-list-orange .title-area {background-color:#ffc692; }

.category-area .title-area {
	padding: 10px 10px 0; text-align: center;
	border-radius: 18px 18px 0 0;
	-webkit-border-radius: 18px 18px 0 0;
}
.category-area .title-area .title {display: inline-block; width:124px; margin: 11px  11px 14px; font-weight: 500; font-size: 21px; 
	border-bottom: 2px solid #000; text-align: center; line-height: 1.6em;
}
.category-area .detail-list {background-color: #fff}
.category-area .detail-list:after {content: ""; display: block; width: 1px; height: 1px;}
.category-area .detail-list>ul {margin-right: 10px; overflow: hidden;}
.category-area .detail-list>ul>li {float: left; width:50%; padding-left:10px; margin-top: 10px; font-size: 0;}
.category-area .detail-list>ul>li:nth-child(1),
.category-area .detail-list>ul>li:nth-child(2) {margin-top: 0;}

/* coupon */
.list-coupon>ul>li {margin: 10px 19px;}
.coupon-area .coupon {position: relative; padding-right:63px;  background-color: #fa464c; overflow: hidden;
	border: 3px solid #fa464c; 
	-webkit-border-radius: 13px;
	border-radius: 13px;
}
.coupon-area .coupon-post {position: relative; padding:14px 17px 16px 17px;  background-color: #fff;
	-webkit-border-radius:11px 0 0 11px;
	border-radius: 11px 0 0 11px;
}
.coupon-area .coupon-post .coupon-title {line-height: 1.3em; font-size: 12px; font-weight: bold; color:#fa464c;}
.coupon-area .coupon-post .coupon-import {margin-top: 6px; font-size: 23px;}
.coupon-area .coupon-post .coupon-import .imp {font-weight: bold;}
.coupon-area .coupon-post .coupon-import span {font-size: 16px;}
.coupon-area .coupon-post .coupon-cont {margin-top: 18px;}
.coupon-area .coupon-post .coupon-cont li {position: relative; padding-left: 6px; font-size: 11px; color:#888888; line-height: 1.4em; }
.coupon-area .coupon-post .coupon-cont li:before {content: ""; position: absolute; left:0; top:6px; display: block; width: 2px; height: 2px; 
	background-color: #888888; 
	-webkit-border-radius: 50%;
	border-radius: 50%;
}
.coupon-area .coupon-post .txt-coupon-detail {margin: 6px 0 0 6px;}
.coupon-area .ico-coupon-down {width:64px; height: 100%; background-color: #fa464c;}
.coupon-area .coupon-detail {margin-top: -10px; padding: 25px 20px 18px; border: 1px solid #ddd; border-top: 0 none; background-color: #fff;}
.detail-txt li {display: table; table-layout: fixed; position: relative; padding-left: 6px;  }
.detail-txt li:before {content: ""; position: absolute; left:0; top:6px; display: block; width: 2px; height: 2px; 
	background-color: #888888; 
	-webkit-border-radius: 50%;
	border-radius: 50%;
}
.detail-txt li>span {display: table-cell; vertical-align: top; font-size: 11px; color:#888888; line-height: 1.4em;}
.detail-txt li .title {position: relative; width:50px; padding-right: 9px;}
.detail-txt li .title:before {content: ":"; position: absolute; right:4px; top:-1px; display: block; }

.info-simple .title.no-badge {padding-bottom: 6px;}
.event-date {padding-top: 5px; font-size: 13px; color:#797979; font-weight: 300;}

/* search */
.search-area {position: relative; height: 50px; padding: 9px 48px 0; border-bottom: 1px solid #dadada; background-color: #f5f5f5;}
.search-area input.search-txt {display: block; width:100%; height: 31px; padding-left: 10px; background-color: #fff; border: 0 none;}
.search-area [class^="ico"] {position: absolute;  top:50%; margin-top: -15px; width:30px; height: 30px;
	background: transparent url("../images/ico-home-basic.png") no-repeat 0 0;
	-webkit-background-size: 147px;
	background-size: 147px;
}
.search-area .ico-prev {left:10px; background-position: -87px 0 ;} 
.search-area .ico-search {right:10px; background-position: -59px 0 ;} 

.search-area.result {margin-bottom: 10px; background-color: #fff; }
.search-area.result .center p {padding: 7px 40px 0 0;font-size: 18px; color:#000; letter-spacing: -1px;  white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}

[class^="search-list-"] {margin: 7px; background-color: #fff;}
[class^="search-list-"]>* {border: 1px solid #dadada;}
[class^="search-list-"] .search-word a {display: block; padding: 12px 17px; font-size: 13px; color:#555555; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}

.search-list-new>*>li {border-top: 1px solid #eeeeee;}
.search-list-new>ul>li:first-child {border-top:0 none;}
.search-list-new .search-word .left {width:70%;}
.search-list-new .search-word .right>* {color:#bbb; font-size: 12px; vertical-align: middle;}

.search-list-hot {position: relative;}
.search-list-hot:before {content: ""; display: block; position: absolute; left:50%; top:0; bottom:28px;
	border-left: 1px solid #eeeeee;
}
.search-list-hot ol>li {border-top: 1px solid #eeeeee;}
.search-list-hot ol>li:first-child {border-top:0 none;}
.search-list-hot ol>li.search-word a {position: relative; padding-left: 42px;}
.search-list-hot ol>li.search-word a:before {content: ""; display: inline-block; 
	position: absolute; top: 50%; margin-top: -7px; left:19px;
	line-height: 1em; font-size: 12px; font-style: italic; color:#bbbbbb;
}

.search-list-hot>.range .left {width:50%;}
.search-list-hot>.range .right {width:50%;}

.search-list-hot .left ol>li:nth-child(1).search-word a:before { content: "1"; color:#ff8711; }
.search-list-hot .left ol>li:nth-child(2).search-word a:before { content: "2"; color:#ff8711; }
.search-list-hot .left ol>li:nth-child(3).search-word a:before { content: "3"; color:#ff8711; }
.search-list-hot .left ol>li:nth-child(4).search-word a:before { content: "4";}
.search-list-hot .left ol>li:nth-child(5).search-word a:before { content: "5";}
.search-list-hot .left ol>li:nth-child(6).search-word a:before { content: "6";}
.search-list-hot .right ol>li:nth-child(1).search-word a:before { content: "7"; color:#bbbbbb;}
.search-list-hot .right ol>li:nth-child(2).search-word a:before { content: "8"; color:#bbbbbb;}
.search-list-hot .right ol>li:nth-child(3).search-word a:before { content: "9"; color:#bbbbbb;}
.search-list-hot .right ol>li:nth-child(4).search-word a:before { content: "10";}
.search-list-hot .right ol>li:nth-child(5).search-word a:before { content: "11";}
.search-list-hot .right ol>li:nth-child(6).search-word a:before { content: "12";}

.search-info {height: 28px; margin-top: -1px; border: 1px solid #dadada; font-size: 10px; }
.search-info>div>* {padding-top: 8px;}
.search-info .left>* {color:#bbbbbb}
.search-info .left span {display: block; padding-right:17px; padding-left: 17px;}
.search-info .right>* {display: inline-block; vertical-align: top; color:#797979}
.search-info .right .txt-del {height: 100%;}
.search-info .right .txt-close {position: relative; width:40px; height: 100%; margin-left: 7px; padding-left:7px;}
.search-info .right .txt-close:before {content:""; display: block; width:0; height: 10px; border-left: 1px solid #c8c8c8; position: absolute; top:50%; left:0; margin-top: -5px;}

/* sidebar*/
.side-bar-area {position: absolute; top:0; right:0; left:0; bottom: 0;}
.side-bar-area .ico-popup-close {top:13px; right:15px;}
.side-bar {position: absolute; top:0; right:48px; left:0; bottom: 0; z-index: 100; background-color: #ecebeb; overflow: auto;}
.personal-info {background-color: #36467a;}
.personal-info * {color: #fff;}
.personal-info .side-info {padding: 16px 11px 16px 21px; border-bottom: 1px solid #7785b2;}
.personal-info .side-info p {font-size: 14px; font-weight: 300;}
.personal-info .side-info [class^="txt-btn-"] {margin: -1px 0 0 2px; padding: 4px 10px; font-size: 9px;  font-weight: bold;
	-webkit-border-radius: 9px;
	border-radius: 9px; 
}
.personal-info .side-info .txt-btn-white {background-color: #fff; color:#202f5e; }
.personal-info .side-info .txt-btn-blue {background-color: #202f5e; color:#b0bada; font-weight: normal; }

.personal-info .profile {height: 120px; border-bottom: 1px solid #7785b2;}
.personal-info .profile .img-area {width: 50%; height: 100%; float: left;}
.personal-info .profile .img-area .img {width:80px; height: 80px; margin:20px auto 0; overflow: hidden;
	-webkit-border-radius: 50%;
	 border-radius: 50%; 
}

.personal-info .profile ul {width: 50%; height: 100%; float: right; overflow: hidden; border-left: 1px solid #7785b2;}
.personal-info .profile ul>li {height: 33.33%; border-top: 1px solid #7785b2;}
.personal-info .profile ul>li:first-child {border-top:0 none;}
.personal-info .profile ul>li .info {display: block; padding: 11px 10px 10px 30px; }
.personal-info .profile ul>li .info .title {width:70px; display: inline-block; font-size: 11px; color:#b0bada;}
.personal-info .profile ul>li .info strong {color:#fff17d; font-size: 15px; font-weight: bold;}
.personal-info .profile ul>li .info strong span {margin-left: 3px; font-size: 11px; color:inherit; font-weight: 300;}

.personal-info .point-area>div {width:50%; height: 67px; border-left: 1px solid #7785b2;}
.personal-info .point-area>div:first-child {border-left:0 none;}
.personal-info .point-area>div .info {display: block; height: 100%; text-align: center;}
.personal-info .point-area>div .info .title  {display: block; padding-top: 12px; text-align: center; font-size: 11px; color:#b0bada;}
.personal-info .point-area>div .info strong {position: relative; display: inline-block; margin-top: 10px;  font-size: 17px; color:#fff; }
.personal-info .point-area>div .info strong:before {content:""; display: block; height: 12px; 
	position: absolute; top:5px; left:0;
	background: url("../images/ico-home-basic.png") no-repeat 0 0;
	-webkit-background-size: 147px;
	background-size: 147px;
}
.personal-info .point-area .p-coupon .info strong {padding-left: 33px;}
.personal-info .point-area .p-coupon .info strong:before {width:23px; background-position: 0 -74px;}
.personal-info .point-area .p-mileage .info strong {padding-left: 24px;}
.personal-info .point-area .p-mileage .info strong:before {width:17px; background-position: -31px -74px;}
.personal-info .point-area>div .info strong span {margin-left: 3px; font-size: 11px; color:inherit; font-weight: 300; letter-spacing: 1px;}

.personal-content {padding: 0 10px 17px 10px}
.personal-content .content-title {padding:14px 0 12px 10px; font-size: 13px;}
.content-box-white {border-bottom: 1px solid #dadada; background-color: #fff;}
.personal-content .edu-info-area ul {overflow: hidden;}
.personal-content .edu-info-area li {width:25%; float: left; border-left: 1px solid #efefef;}
.personal-content .edu-info-area li:first-child {border: 0 none;}
.personal-content .edu-info-area li .edu-info {display: block; height: 67px; }
.personal-content .edu-info-area li .edu-info .title {display: block; padding-top: 14px; text-align: center; font-size: 9px; color:#797979;}
.personal-content .edu-info-area li .edu-info strong {display: block; padding-top: 10px; text-align: center; font-size: 17px; color:#f97e06;}
.personal-content .notice {padding: 12px 11px 15px;}
.personal-content .notice * {font-size: 11px; color:#666666; line-height: 1.3em;}
.personal-content .notice .txt,
.personal-content .notice .detail-txt li {margin-top: 5px; }
.personal-content .notice .detail-txt li:before {background-color: #444444;}
.personal-content .benefit-list li {margin-top: 10px;}
.personal-content .benefit-list li:first-child {margin-top:0;}

.personal-content .share-ico-lists {padding: 10px 0 8px;}
.personal-content .share-ico-lists ul {padding: 0 3px; overflow: hidden;}
.personal-content .share-ico-lists li {width:14.2%; float: left; margin: 0; padding: 0;}
.personal-content .share-ico-lists li a {width: 30px; height: 30px;
    background: url(../images/ico-sns-medium.png) no-repeat 0 0;
    -webkit-background-size: 272px;
    background-size: 272px;
}

.personal-content .share-ico-lists a.ico-sns-medium-facebook {background-position:0 0 }
.personal-content .share-ico-lists a.ico-sns-medium-instagram {background-position: -40px 0 }
.personal-content .share-ico-lists a.ico-sns-medium-cafe {background-position: -81px 0 }
.personal-content .share-ico-lists a.ico-sns-medium-blog {background-position: -121px 0 }
.personal-content .share-ico-lists a.ico-sns-medium-p {background-position: -162px 0 ;}
.personal-content .share-ico-lists a.ico-sns-medium-story {background-position:-202px 0 ; }
.personal-content .share-ico-lists a.ico-sns-medium-kakao {background-position: -242px 0 ; }



/* popup */
.deam {position: absolute; top:0; right:0; bottom:0; left:0; min-height: 500px; background-color: rgba(0,0,0,0.6);	z-index: 0;}
.layer-popup-area {position: absolute; top:50px; right:0; bottom:0; left:0; overflow: auto; }
.layer-popup-area .popup-content {position: relative; z-index: 100;}
.layer-popup-area .notice-popup {position: absolute; right: 15px; left: 15px; top:50%; margin: -68px auto 0;
    padding-bottom:57px; max-width: 331px; background-color: #fff; z-index: 100;}
.layer-popup-area .notice-popup .txt-area {display: table; width:100%; height: 80px; padding: 14px 18px;}
.layer-popup-area .notice-popup .notice {display: table-cell; vertical-align:middle;width: 100%; min-height: 52px; text-align: center; font-size: 17px; color:#000; line-height: 1.4em;}
.layer-popup-area .notice-popup .little {text-align: left; font-size: 13px; color:#888; line-height: 1.4em;}
.layer-popup-area .btn-area-popup {position: absolute;bottom:0; left:0; width: 100%; height: 57px; padding-top: 14px;
	text-align: center; border-top: 1px solid #d9d9d9;	
}
.layer-popup-area .btn-area-popup a {display: inline-block; border:2px solid #dadada; color:#000; text-align: center;
	min-width:100px; padding:6px 10px; margin: 0 5px; font-size: 13px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
 }
.layer-popup-area .btn-area-popup a.orange {color:#ff8711; border-color:#ff8711 }

.layer-popup-area.page {top:0; }

/* 맞춤검색 */
.page-title-area {height: 50px; padding: 15px 44px 0; background-color: #fff; border-bottom: 1px solid #dadada;}
.page-title-area h2 {text-align: center; font-size: 18px; letter-spacing: -1px;}
.page-title-area [class^="ico-"] {top:17px;}
.search-condition {padding: 6px 16px;background-color: #e7e7e7; border-bottom: 1px solid #dadada;}
.search-condition .sc-word {display: inline-block; position: relative; padding:9px 38px 9px 10px; margin:4px 14px 4px 0; 
	background-color: #fff;
	-webkit-border-radius: 17px;
	border-radius: 17px;
	border: 1px dashed #ff8a18;
}
.search-condition .sc-word strong {color:#444; font-size: 13px; white-space: nowrap; }

.condition-area .content-box-white {padding: 17px 0;}
.condition-area .content-box-white .date-area {padding: 0 15px;}
.big-title {font-size: 17px; padding: 16px 15px;}
.condition-area .form-box.ea4 {margin-right:12px; margin-left: 12px;}
.condition-area .form-radio.ea4 {margin-right:12px; margin-left: 12px;}
.condition-area .btn-area {padding: 10px 10px 40px; background-color: #fff; margin-top: -2px; }

.share-popup {margin: 0 32px;}
.share-title {padding: 14px; margin: 75px 13px 0; border-bottom:3px solid #fff; font-size: 21px; color:#fff; font-weight: bold; text-align: center;}
.share-ico-list {padding-top:18px;}
.share-ico-list ul {overflow: hidden;}
.share-ico-list li {float: left; width:33.3%; padding: 12px 0;text-align: center;}
.share-ico-list a {width:72px; height: 72px; 
    background: url(../images/ico-sns-big.png) no-repeat 0 0;
    -webkit-background-size: 269px;
    background-size: 269px;
 }
.share-ico-list a.ico-sns-big-facebook {background-position:0 0 }
.share-ico-list a.ico-sns-big-story {background-position:-98px 0 }
.share-ico-list a.ico-sns-big-kakao {background-position: -197px 0; }
.share-ico-list a.ico-sns-big-p {background-position: 0 -98px}
.share-ico-list a.ico-sns-big-instagram {background-position: -98px -98px}
.share-ico-list a.ico-sns-big-cafe {background-position: -197px -98px}
.share-ico-list a.ico-sns-big-blog {background-position: 0 -194px }
.share-ico-list a.ico-sns-big-url {background-position: -98px -194px }

/* footer */
#footer {background-color: #fff;}
.site-menu {text-align: center; background-color: #2d2d2d; color:#fff; font-weight: bold; overflow: hidden;}
.site-menu a {float: left; position: relative; display:block; width:25%; height: 44px; padding-top: 15px; text-align: center; font-size: 12px;}
.site-menu a:before {content:""; display: block; width:0; height: 10px; border-left: 1px solid #fff; position: absolute; top:50%; left:0; margin-top: -5px;}
.site-menu a:first-child:before {content: none;}

#footer address {padding: 0 23px; font-size: 11px; color:#666666;}
#footer address p {line-height: 1.6em;}

.site-info {text-align: center; padding: 22px  0;}
.site-info a {position: relative; display:inline-block; padding: 0 18px; color:#666666; font-size: 12px; font-weight: bold;}
.site-info a:before {content:""; display: block; width:0; height: 10px; border-left: 1px solid #b3b3b3; position: absolute; top:50%; left:0; margin-top: -5px;}
.site-info a:first-child:before {content: none;}























